body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
td,
figure {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: .24rem;
  background: #fff;
}

/*.decripe img{width:100%;height:100%;}*/
